@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  overflow-x: hidden;
  /* display: flex; */
}
html{
  margin: 0 auto;
}
@-ms-viewport{
  width: device-width;
}
